[submodule "modules/livepeer-network-modules"]
	path = modules/livepeer-network-modules
	url = git@github.com:Cloud-SPE/livepeer-network-modules.git
[submodule "modules/livepeer-open-clearinghouse"]
	path = modules/livepeer-open-clearinghouse
	url = git@github.com:Cloud-SPE/livepeer-open-clearinghouse.git
[submodule "modules/livepeer-modules-openai-runners"]
	path = modules/livepeer-modules-openai-runners
	url = git@github.com:Cloud-SPE/livepeer-modules-openai-runners.git
[submodule "modules/livepeer-modules-transcode-runners"]
	path = modules/livepeer-modules-transcode-runners
	url = git@github.com:Cloud-SPE/livepeer-modules-transcode-runners.git
